# OS
#-----------------------------
.DS_Store
*~


# Dirs
#-----------------------------
node_modules/
dist/


# Python
#-----------------------------
__pycache__
*.pyc


# Files
#-----------------------------

