# OS
#-----------------------------
.DS_Store
*~


# Dirs
#-----------------------------
*.egg-info/
build/
dist/
htmlcov/
instance/
node_modules/


# Python
#-----------------------------
__pycache__
*.pyc
.pytest_cache/


# Files
#-----------------------------
.coverage
